@model IEnumerable<deORODataAccess.DTO.ShoppingCartDTO>

<div class="box-body table-responsive">
    <table class="table table-bordered table-striped" id="grid">
        <thead>
            <tr>
                <th>ShoppingCartPkid</th>
                <th>Item Count</th>
                <th>Price + Tax</th>
                <th>Date Time</th>
            </tr>
        </thead>

        @foreach (var m in Model)
        { <tr>
            <td style="width:30%"><a href="#" data-toggle="modal" data-target="#popup-modal-shopping-cart-detail" data-id="@m.pkid"> @m.pkid </a></td>
            <td style="width:20%">@m.itemcount</td>
            <td style="width:10%">@m.price_tax_included</td>
            <td style="width:10%">@m.created_date_time</td>
        </tr>
        }
    </table>
</div>

<div class="modal fade" id="popup-modal-shopping-cart-detail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" id="modal-shopping-cart-detail-body">
            </div>
            <div class="modal-footer clearfix">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
            </div>
        </div>
    </div>
</div>

<style type="text/css" id="custom-modal">
    .modal-lg
    {
        width: 850px!important;
        margin: 0 auto;
    }
</style>

<script>

    $('#popup-modal-shopping-cart-detail').on('shown.bs.modal', function (e) {

        var shoppingcartPkid = $(e.relatedTarget).data('id');

        var postData = JSON.stringify({
            'pkid': shoppingcartPkid
        });

        $.ajax({
            cache: false,
            type: "POST",
            url: "@Request.ApplicationPath/ShoppingCart/GetShoppingCartFullDetail/",
            contentType: "application/json; charset=utf-8",
            async: false,
            data: postData,
            success: function (result) {
                $('#modal-shopping-cart-detail-body').html(result);
            },
            error: function (error) {
            }
        })

     });


</script>

